.idea
wp-app
wp-app-origin
wp-data
wp-app-prod/wp-admin
wp-app-prod/wp-includes
wp-app-prod/wp-content/plugins/*
wp-app-prod/wp-content/uploads/*
wp-app-prod/wp-content/updraft/*
config/dump.sql
ardetem.zip
!wp-app-prod/wp-content/plugins/custom_user_email.php
